@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
h1 {
    text-align: center;
    margin-top: 50px;
    font-family: 'Your-Font-Name', sans-serif; /* แทน 'Your-Font-Name' ด้วยชื่อและประเภทของฟอนต์ที่คุณต้องการใช้ */
    font-size: 4rem; /* ปรับขนาดตามที่คุณต้องการ */
    color: #1f1f1fbf; /* ปรับสีตามที่คุณต้องการ */
    
}

.container {
    background: #9337E8;
    color: #ffffff;
    padding: 2rem;
    width: 40%;
    margin: 4rem auto;
    border-radius: 10px;
}


.weather__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input {
    border: none;
    background: #e4a3f4;
    outline: none;
    color: #fff;
    padding: 0.5rem 2.5rem;
    border-radius: 5px;
}

input::placeholder {
    color: #000000b1;
}

.weather__search {
    position: relative;
}

.weather__search i {
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 15px;
    color: #181616;
}

.weather__units {
    font-size: 1.5rem;
}

.weather__units span {
    cursor: pointer;
}

.weather__units span:first-child {
    margin-right: 0.5rem;
}

.weather__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; /* เพิ่มบรรทัดนี้เพื่อจัดให้ข้อความตรงกลางทั้งนอกและใน */
}


.weather__datetime {
    margin-bottom: 2rem;
    font-size: 14px;
}


.weather__icon img {
    width: 100px;
}

.weather__temperature {
    font-size: 8rem;
    margin-top: 10px; /* เพิ่มระยะห่างด้านบนเพื่อแยกจากส่วนอื่น */
    text-align: center; /* เพิ่มบรรทัดนี้เพื่อจัดให้ข้อความอยู่ตรงกลาง */
}

.weather__minmax {
    display: flex;
    justify-content: center;
}

.weather__minmax p {
    font-size: 14px;
    margin: 0.5rem;
}

.weather__info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    margin-top: 3rem;
}

.weather__card {
    display: flex;
    align-items: center;
    background: #c358f8;
    padding: 1rem;
    border-radius: 10px;
}

.weather__card i {
    font-size: 1.5rem;
    margin-right: 1rem;
}

.weather__card p {
    font-size: 14px;
}
body {
    background: #8d24ba;

}


@media(max-width: 936px){
    .container {
        width: 90%;
    }

    .weather__header {
        flex-direction: column;
    }

    .weather__units {
        margin-top: 1rem;
    }
}


@media(max-width: 400px){
    .weather__info {
        grid-template-columns: none;
    }
}